{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
  <title>Login - Tweak || A Social Blogging Website</title>
  <!-- HTML Meta Tags -->
  <meta name="description" content="In this busy world give some moment to your thoughts and write something inspiring">

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content=" Login - Tweak || A Social Blogging Website">
  <meta itemprop="description" content="In this busy world give some moment to your thoughts and write something inspiring">
  <meta itemprop="image" content="https://tweak-web.herokuapp.com/static/profile_pics/default.png">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="http://tweak-web.herokuapp.com/login?next=%2Fpost%2FNsyXN3h0B18">
  <meta property="og:type" content="website">
  <meta property="og:title" content=" Login - Tweak || A Social Blogging Website">
  <meta property="og:description" content="In this busy world give some moment to your thoughts and write something inspiring">
  <meta property="og:image" content="https://tweak-web.herokuapp.com/static/profile_pics/default.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content=" Login - Tweak || A Social Blogging Website">
  <meta name="twitter:description" content="In this busy world give some moment to your thoughts and write something inspiring">
  <meta name="twitter:image" content="https://tweak-web.herokuapp.com/static/profile_pics/default.png">


  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='signin.css')}}">

{% endblock %}

{% block content %}
    <div class="container">

      <form class="form-signin" method="POST">
        <h5 align=center> {{ msg }} </h5>
        <h2 class="form-signin-heading">Please sign in</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>  
      </form>
      <form class="form-signin" action="/signup">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create a new account</button>
      </form>
    </div> <!-- /container -->
{% endblock %}