{% extends "base.html" %}

{% block head %}
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<link href="{{url_for('static', filename='rate.css')}}" rel="stylesheet">

<style>
  card-text::-webkit-scrollbar {
  width: 5px;
}
</style>
{% endblock %}

{% block header %}
<div class="inline-block">

<a href="{{ url_for('logout') }}">
  <button type="button" class="btn btn-secondary d-flex">Logout</button>
</a>
</div>
{% endblock %}

{% block body %}

<div class="container mt-16 mb-24 ">
  <div class="row">
    <div class="col-lg-10 p-0 m-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mt-3">
              <div class="card m-2 mb-3 mt-3" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); ">
                <div class="card-body text-center" style="position:relative;">
                    
                  <p class="card-title text-uppercase lead text-blue-400" style="position: relative; ">
                  <a>{{ post.post_title }}</a>
                  </p>
                  <p class="card-subtitle mb-2 text-uppercase">by:<a href="{{ url_for('dashboard',pro = post.post_by) }}">{{ post.post_by }}</a></p>
                  <span style="display:none;" id="postid" postid="{{post.post_id}}"></span>
                  <p class="card-subtitle mb-2 text-uppercase">on: {{ post.post_created | datetimeformat }}</p>
                  <div class="card-text" style="overflow: scroll; width:100%; height: auto; "> {{ post.post_body | safe }} </div>
                  {% if name == profile %}
                  <div class="row mt-5">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">
                    <a href="{{ url_for('updatepost',postid = post.post_id) }}">
                      <button type="submit" class="btn btn-primary w-full">Update my Post</button>
                    </a>
                  </div>
                  <div class="col-md-3"></div>
                </div>
                  {% endif %}
                  
                  <div class="row mt-5">
                    <div class="col-md-3"></div>
                    <div class="col-12 text-center mt-5" id="rate-controller"  reaction="{{rate.Action}}">
                      <div class="btn-group btn-group-toggle rate" data-toggle="buttons">
                          <label class="btn btn-primary active">
                              <input type="radio" name="Like" id="like" autocomplete="off">
                              <i id="like-icon" class="fa fa-thumbs-up" aria-hidden="true"></i>
                          </label>
                          <label class="btn btn-light">
                              <input type="radio" name="Smile" id="smile" autocomplete="off">
                              <i id="smile-icon" class="fa fa-smile-o" aria-hidden="true"></i>
                          </label>
                          <label class="btn btn-danger">
                              <input type="radio" name="Dislike" id="dislike" autocomplete="off">
                              <i id="dislike-icon" class="fa fa-thumbs-down" aria-hidden="true"></i>
                          </label>
                      </div>
                    </div>
                    <div class="col-md-3"></div>
                  </div>
                </div>
              </div>

        </div>          
          <div class="col-lg-6 mt-5">
            <div class="card h-full d-md-block d-lg-none" style="background: linear-gradient(#25bbcf,#45cbdd,#60d0dfe3); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);">
              <div class="card-body">
                <p class="card-title text-uppercase lead" style="overflow: hidden;  max-height: 15ch;">
                  <a href="#">What are you wating for</a>
                </p>
                <p class="card-text" style="overflow: hidden;  max-height: 14ch;">Ask Your Friends to Join Tweak Now</p>
                
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">
                    <a href="https://api.whatsapp.com/send?text=Hey%2C%20I%20tried%20Tweak%20their%20idea%20is%20cool%20just%20try%20it%20once%20and%20you%20will%20definitely%20like%20itPost%20something%20and%20share%20me%20the%20link%2C%20Show%20some%20of%20your%20writing%20skillslink%20to%20the%20website%3A%20https%3A%2F%2Ftweak-web.herokuapp.com%%20Register%20Now%20!!!!!!">
                      <button type="submit" class="btn btn-info w-full">Register Now</button>
                    </a>
                    </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        

      </div>
    </div>
    
    <div class="col-lg-2 p-0">
      
        <div class="card h-full w-full d-lg-block d-md-none d-none" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); overflow: hidden; width:200px;  height:auto; background: linear-gradient(60deg,#25bbcf 0%,#45cbdd 55%,#60d0dfe3 100%);position: fixed; right: 12px; top:60px;">
          <a href="https://api.whatsapp.com/send?text=Hey%2C%20I%20tried%20Tweak%20their%20idea%20is%20cool%20just%20try%20it%20once%20and%20you%20will%20definitely%20like%20itPost%20something%20and%20share%20me%20the%20link%2C%20Show%20some%20of%20your%20writing%20skillslink%20to%20the%20website%3A%20https%3A%2F%2Ftweak-web.herokuapp.com%%20Register%20Now%20!!!!!!">
            <div class="card-body">
              <p class="card-title text-uppercase lead" >
                What are you wating for
              </p>
              <p class="card-text" style="overflow: hidden;  max-height: 14ch;">Ask Your Friends to Join Tweak Now</p>
                <a href="https://api.whatsapp.com/send?text=Hey%2C%20I%20tried%20Tweak%20their%20idea%20is%20cool%20just%20try%20it%20once%20and%20you%20will%20definitely%20like%20itPost%20something%20and%20share%20me%20the%20link%2C%20Show%20some%20of%20your%20writing%20skillslink%20to%20the%20website%3A%20https%3A%2F%2Ftweak-web.herokuapp.com%%20Register%20Now%20!!!!!!">
                  <button type="submit" class="btn btn-info w-full">Share Now</button>
                </a>
              </div>
            </div>
          </a>
        </div>
    </div>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- <script src="{{url_for('static', filename='rate.js')}}"></script> -->
<script>
ratebar = document.getElementById("rate-controller");
reaction = ratebar.getAttribute("reaction");
postId = document.getElementById("postid").getAttribute("postid");

seticon();

var dislike_btn = document.getElementById("dislike");
var like_btn = document.getElementById("like");
var smile_btn = document.getElementById("smile");

seticon();

dislike_btn.onclick = function Dislike() {
    if(reaction == "dislike"){
        reaction = "nothing"
        ratebar.setAttribute("reaction", "nothing");
        console.log(reaction)
        seticon();
        // var xhttp = new XMLHttpRequest();
        // xhttp.open("POST", "/rate", true);
        // xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        // xhttp.send('Action=nothing&PostID=' + postId);
        $.ajax({
            type: "POST",
            url: "/rate",
            data: 'Action=nothing&PostID=' + postId,
            success: function () {}
        });
    }
    else if (reaction == "nothing"||"like"||"smile"){
        reaction = "dislike"
        ratebar.setAttribute("reaction", "dislike");
        console.log(reaction)
        seticon();
        $.ajax({
            type: "POST",
            url: "/rate",
            data: 'Action=dislike&PostID=' + postId,
            success: function () {}

        });
    } 
}

like_btn.onclick = function Like() {
    if(reaction == "like"){
        reaction = "nothing"
        ratebar.setAttribute("reaction", "nothing");
        console.log(reaction)
        seticon();
        $.ajax({
            type: "POST",
            url: "/rate",
            data: 'Action=nothing&PostID=' + postId,
            success: function () {}
        });
    }
    else if (reaction == "nothing"||"smile"||"dislike"){
        reaction = "like"
        ratebar.setAttribute("reaction", "like");
        console.log(reaction)
        seticon();
        $.ajax({
            type: "POST",
            url: "/rate",
            data: 'Action=like&PostID=' + postId,
            success: function () {}
        });
    } 
}

smile_btn.onclick = function Smile() {
    if(reaction == "smile"){
        reaction = "nothing"
        ratebar.setAttribute("reaction", "nothing");
        console.log(reaction)
        seticon();
        $.ajax({
            type: "POST",
            url: "/rate",
            data: 'Action=nothing&PostID=' + postId,
            success: function () {}
        });
    }
    else if (reaction == "dislike"||"nothing"||"like"){
        reaction = "smile"
        ratebar.setAttribute("reaction", "smile");
        console.log(reaction)
        seticon();
        $.ajax({
            type: "POST",
            url: "/rate",
            data: 'Action=smile&PostID=' + postId,
            success: function () {}
        });
    }  
}


function seticon(){
    dislike_element = document.getElementById("dislike-icon");
    like_element = document.getElementById("like-icon");
    smile_element = document.getElementById("smile-icon");

    if(reaction == "dislike"){

        dislike_element.classList.add("fa-thumbs-down-enlarge");
        like_element.classList.remove("fa-thumbs-up-enlarge");
        smile_element.classList.remove("fa-smile-enlarge");
    }

    if(reaction == "like"){

        dislike_element.classList.remove("fa-thumbs-down-enlarge");
        like_element.classList.add("fa-thumbs-up-enlarge");
        smile_element.classList.remove("fa-smile-enlarge");
    }

    if(reaction == "smile"){

        dislike_element.classList.remove("fa-thumbs-down-enlarge");
        like_element.classList.remove("fa-thumbs-up-enlarge");
        smile_element.classList.add("fa-smile-enlarge");
    }

    if(reaction == "nothing"){

        dislike_element.classList.remove("fa-thumbs-down-enlarge");
        like_element.classList.remove("fa-thumbs-up-enlarge");
        smile_element.classList.remove("fa-smile-enlarge");
    }
}
</script>
<!-- <script>

$(function () {
  $('.like').click(function () { likeFunction(this); });
  $('.dislike').click(function () { dislikeFunction(this);});
});


function likeFunction(caller) {
  var postId = caller.parentElement.getAttribute('postid');
  $.ajax({
      type: "POST",
      url: "/rate",
      data: 'Action=like&PostID=' + postId,
      success: function () {}
  });
}
function dislikeFunction(caller) {
  var postId = caller.parentElement.getAttribute('postid');
  $.ajax({
      type: "POST",
      url: "/rate",
      data: 'Action=dislike&PostID=' + postId,
      success: function () {}
  });
}
</script> -->
{% endblock %}
