{% extends "base.html" %}

{% block head %}
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

<style>
  card-text::-webkit-scrollbar {
  width: 5px;
}
</style>
{% endblock %}

{% block header %}
<div class="inline-block">

<a href="{{ url_for('logout') }}">
  <button type="button" class="btn btn-secondary d-flex">Logout</button>
</a>
</div>
{% endblock %}

{% block body %}

<div class="container mt-16 mb-24 ">
  <div class="row">
    <div class="col-lg-10 p-0 m-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mt-3">
              <div class="card m-2 mb-3 mt-3" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); ">
                <div class="card-body text-center" style="position:relative;">
                    
                  <p class="card-title text-uppercase lead text-blue-400" style="position: relative; ">
                  <a>{{ post.post_title }}</a>
                  </p>
                  <p class="card-subtitle mb-2 text-uppercase">by:<a href="{{ url_for('dashboard',pro = post.post_by) }}">{{ post.post_by }}</a></p>
                  <p class="card-subtitle mb-2 text-uppercase">on: {{ post.post_created | datetimeformat }}</p>
                  <div class="card-text" style="overflow: scroll; width:100%; height: auto; "> {{ post.post_body | safe }} </div>
                  {% if name == profile %}
                  <div class="row mt-5">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">
                    <a href="{{ url_for('updatepost',postid = post.post_id) }}">
                      <button type="submit" class="btn btn-primary w-full">Update my Post</button>
                    </a>
                  </div>
                  <div class="col-md-3"></div>
                </div>
                  {% endif %}
                </div>
              </div>

        </div>          
          <div class="col-lg-6 mt-5">
            <div class="card h-full d-md-block d-lg-none" style="background: linear-gradient(#25bbcf,#45cbdd,#60d0dfe3); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);">
              <div class="card-body">
                <p class="card-title text-uppercase lead" style="overflow: hidden;  max-height: 15ch;">
                  <a href="#">What are you wating for</a>
                </p>
                <p class="card-text" style="overflow: hidden;  max-height: 14ch;">Ask Your Friends to Join Tweak Now</p>
                
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">
                    <a href="https://api.whatsapp.com/send?text=Hey%2C%20I%20tried%20Tweak%20their%20idea%20is%20cool%20just%20try%20it%20once%20and%20you%20will%20definitely%20like%20itPost%20something%20and%20share%20me%20the%20link%2C%20Show%20some%20of%20your%20writing%20skillslink%20to%20the%20website%3A%20https%3A%2F%2Ftweak-web.herokuapp.com%%20Register%20Now%20!!!!!!">
                      <button type="submit" class="btn btn-info w-full">Register Now</button>
                    </a>
                    </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        

      </div>
    </div>
    
    <div class="col-lg-2 p-0">
      
        <div class="card h-full w-full d-lg-block d-md-none d-none" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); overflow: hidden; width:200px;  height:auto; background: linear-gradient(60deg,#25bbcf 0%,#45cbdd 55%,#60d0dfe3 100%);position: fixed; right: 12px; top:60px;">
          <a href="https://api.whatsapp.com/send?text=Hey%2C%20I%20tried%20Tweak%20their%20idea%20is%20cool%20just%20try%20it%20once%20and%20you%20will%20definitely%20like%20itPost%20something%20and%20share%20me%20the%20link%2C%20Show%20some%20of%20your%20writing%20skillslink%20to%20the%20website%3A%20https%3A%2F%2Ftweak-web.herokuapp.com%%20Register%20Now%20!!!!!!">
            <div class="card-body">
              <p class="card-title text-uppercase lead" >
                What are you wating for
              </p>
              <p class="card-text" style="overflow: hidden;  max-height: 14ch;">Ask Your Friends to Join Tweak Now</p>
                <a href="https://api.whatsapp.com/send?text=Hey%2C%20I%20tried%20Tweak%20their%20idea%20is%20cool%20just%20try%20it%20once%20and%20you%20will%20definitely%20like%20itPost%20something%20and%20share%20me%20the%20link%2C%20Show%20some%20of%20your%20writing%20skillslink%20to%20the%20website%3A%20https%3A%2F%2Ftweak-web.herokuapp.com%%20Register%20Now%20!!!!!!">
                  <button type="submit" class="btn btn-info w-full">Share Now</button>
                </a>
              </div>
            </div>
          </a>
        </div>
    </div>
  </div>
</div>

{% endblock %}
