{% extends "base.html" %}

{% block head %}
<title>All Posts - Tweak</title>
<!-- HTML Meta Tags -->
<meta name="description" content="Checkout what your friend posted on Tweak, one of the latest Social Website. JOIN NOW">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content=" Home - Tweak || A Social Blogging Website">
<meta itemprop="description" content="Checkout what your friend posted on Tweak, one of the latest Social Website. JOIN NOW">
<meta itemprop="image" content="https://img.indiefolio.com/fit-in/1100x0/filters:format(webp):fill(transparent)/project/body/41c8e915b04118cce7b41455f3a8c7f7.jpg">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://img.indiefolio.com/fit-in/1100x0/filters:format(webp):fill(transparent)/project/body/41c8e915b04118cce7b41455f3a8c7f7.jpg">
<meta property="og:type" content="website">
<meta property="og:title" content=" Home - Tweak || A Social Blogging Website">
<meta property="og:description" content="Checkout what your friend posted on Tweak, one of the latest Social Website. JOIN NOW">
<meta property="og:image" content="https://img.indiefolio.com/fit-in/1100x0/filters:format(webp):fill(transparent)/project/body/41c8e915b04118cce7b41455f3a8c7f7.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content=" Home - Tweak || A Social Blogging Website">
<meta name="twitter:description" content="Checkout what your friend posted on Tweak, one of the latest Social Website. JOIN NOW">
<meta name="twitter:image" content="https://img.indiefolio.com/fit-in/1100x0/filters:format(webp):fill(transparent)/project/body/41c8e915b04118cce7b41455f3a8c7f7.jpg">

<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

<style>
.card:hover{
  transition: transform .2s; /* Animation */
  transform: scale(1.02);
}
</style>
{% endblock %}

{% block header %}
<div class="inline-block">

<a href="{{ url_for('logout') }}">
  <button type="button" class="btn btn-secondary d-flex">Logout</button>
</a>
</div>
{% endblock %}

{% block body %}

<div class="container mt-16 mb-24 ">
  <div class="row">
    <div class="col-lg-10 p-0 m-0">
      <div class="container">
        <div class="row">

          {% if posts|length < 1 %}
            <h2>Nothing Posted Yet</h2>
            {% else %}
            {% for post in posts %}
            <div class="col-lg-3 m-3">
              <a href="{{ url_for('post', postid=post.post_id) }}">
                <div class="card h-100 m-2 mb-3 mt-3" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); ">
                  
                  <div class="card-body" style="position:relative;">
                    
                    <p class="card-title text-uppercase lead" style="overflow: hidden; position: relative; height: 30%;  max-height: 15ch;">
                      {{ post.post_title }}
                    </p>
                    <small class="card-subtitle mb-2 text-muted">by: {{ post.post_by }}</small>
                    <p class="card-subtitle mb-2 text-muted">{{ post.post_created | datetimeformat }}</p>
                    <div class="card-text" style="overflow: hidden; height: 100px;"> {{ post.post_body | safe }} </div>
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          {% endif %}
        </div>

      </div>
    </div>
    
  </div>
</div>

{% endblock %}
