{% extends "base.html" %}

{% block head %}
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

<style>
.card:hover{
  transition: transform .2s; /* Animation */
  transform: scale(1.02);
}
</style>
{% endblock %}

{% block header %}
<div class="inline-block">

<a href="{{ url_for('logout') }}">
  <button type="button" class="btn btn-secondary d-flex">Logout</button>
</a>
</div>
{% endblock %}

{% block body %}

<div class="container mt-16 mb-24 ">
  <div class="row">
    <div class="col-lg-10 p-0 m-0">
      <div class="container">
        <div class="row">

          {% if posts|length < 1 %}
            <h2>Nothing Posted Yet</h2>
            {% else %}
            {% for post in posts %}
            <div class="col-lg-3 mt-3">
              <div class="card h-100 m-2 mb-3 mt-3" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); ">
                <div class="card-body" style="position:relative;">
                  
                  <p class="card-title text-uppercase lead" style="overflow: hidden; position: relative; height: 30%;  max-height: 15ch;">
                    <a href="{{ url_for('post', postid=post.post_id) }}">{{ post.post_title }}</a>
                  </p>
                  <small class="card-subtitle mb-2 text-muted">by: {{ post.post_by }}</small>
                  <p class="card-subtitle mb-2 text-muted">by: {{ post.post_created | datetimeformat }}</p>
                  <p class="card-text" style="overflow: hidden;  max-height: 14ch;"> {{ post.post_body }} </p>
                </div>
              </div>
            </div>
            {% endfor %}
          {% endif %}

          
          <div class="col-lg-6 mt-5">
            <div class="card h-full d-md-block d-lg-none" style="background: linear-gradient(#25bbcf,#45cbdd,#60d0dfe3); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);">
              <div class="card-body">
                <p class="card-title text-uppercase lead" style="overflow: hidden;  max-height: 15ch;">
                  <a href="#">Site Suggestions</a>
                </p>
                <small class="card-subtitle mb-2 text-muted">by: Site itself</small>
                <p class="card-text" style="overflow: hidden;  max-height: 14ch;">Suggestions wager aur kush nhi</p>
              </div>
            </div>
          </div>
        </div>
        

      </div>
    </div>
    
    <div class="col-lg-2 p-0">
      <div class="card h-full w-full d-lg-block d-md-none d-none" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);">
        <div class="card-body">
          <p class="card-title text-uppercase lead" style="overflow: hidden;  max-height: 15ch;">
            <a href="#">Site Suggestions</a>
          </p>
          <small class="card-subtitle mb-2 text-muted">by: Site itself</small>
          <p class="card-text" style="overflow: hidden;  max-height: 14ch;">Suggestions wager aur kush nhi</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
