{% extends "base.html" %}

{% block head %}

<!-- Profile Card CSS Starts -->
<style type="text/css">
.card-profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
}


.button-update {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}


.button-update:hover, a:hover {
  opacity: 0.7;
}
</style>
<!-- Profile Card CSS Ends -->
{% endblock %}

{% block nav %}
<li>
<a href="{{ url_for('logout') }}">
  <button type="button" class="btn btn-secondary d-flex nav-item">Logout</button>
</a>
</li>
{% endblock %}

{% block body %}
  <!-- Page Content -->
  <div class="container mt-16">

    <div class="row">

      <div class="col-lg-3 ">
        <div class="card-profile mx-auto">
          <img src="{{ image_file }}" alt="{{ profile }}" style="width:100%">
          <h1>{{ profile}}</h1>
          <p>About</p>
          <p><button class="btn btn-secondary mb-4">edit profile</button></p>
        </div>
      </div>
      <!-- /.col-lg-3 -->

          <div class="col-lg-9">
            <div class="container">
              <div class="row">

                <div class="col-lg-3 m-1">
                  <div class="card h-100">
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="#">Post Title</a>
                      </h4>
                      <h6>by: Posted by</h6>
                      <p class="card-text">Post body </p>
                    </div>
                  </div>
                </div>

                
                <div class="col-lg-3 m-1">
                  <div class="card h-100">
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="#">Post Title</a>
                      </h4>
                      <h6>by: Posted by</h6>
                      <p class="card-text">Post body </p>
                    </div>
                  </div>
                </div>

                
              </div>
            </div>
          </div>
    </div>
    <!-- /.row -->

  </div>

{% endblock %}
