{% extends "base.html" %}

{% block head %}

<!-- Profile Card CSS Starts -->
<style type="text/css">
.card-profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 75%;
  text-align: center;
}


.button-update {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}


.button-update:hover, a:hover {
  opacity: 0.7;
}
.card:hover{
  transition: transform .2s; /* Animation */
  transform: scale(1.02);
}
</style>
<!-- Profile Card CSS Ends -->
{% endblock %}

{% block nav %}
<li>
<a href="{{ url_for('logout') }}">
  <button type="button" class="btn btn-secondary d-flex nav-item">Logout</button>
</a>
</li>
{% endblock %}

{% block body %}

<div class="container mt-16 mb-24 ">
  <!-- Page Content -->
      <div class="row">
        <div class="col-lg-8 mx-auto d-lg-block d-md-none d-none">

          <div class="h-auto m-2 w-auto text-center" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);">
            <div class="container flow-root ">
              <div class="row">

                <div class="col-lg-6 p-0">
                  <div class="inline-block w-full h-full content-center object-cover relative" style=" background-color: black;">
                    <img src="{{ image_file }}" alt="{{ profile }}" class="absolute top-0 left-0 w-full h-full object-cover">
                  </div>
                </div>
                
                <div class="col-lg-6">
                  <div class="text-center w-full inline-block">
                    <h1>{{ profile }}</h1>
                    <p class="mx-1" >{{ about }}</p>
                    {% if name == profile %}
                    <p><a href="{{ url_for('update',idp=current_user.username) }}">
                      <button class="btn btn-secondary m-8">edit profile</button></a>
                      <button class="btn btn-secondary m-1">Total Posts: {{ total }}</button>
                    </p>
                      {% else %}
                        <p>
                          <button class="btn btn-secondary m-8">Total Posts: {{ total }}</button>
                        </p>
                    {% endif %}
                    
                  </div>
                </div>

              </div> 
            </div>
          </div>

        </div>

        <div class="col-lg-8 d-lg-none d-md-block d-block">
          <div class="card h-100 m-2 w-100 mb-3 mt-3 text-center flex mx-auto" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);">
            <div class="flex-initial w-full h-1/2" style="overflow: hidden;">
              <img src="{{ image_file }}" alt="{{ profile }}" class="w-full h-56 object-cover">
            </div>
            <div class="flex-initial">
              <h1>{{ profile}}</h1>
              <p class="mx-1" >{{ about }}</p>
              {% if name == profile %}
                <p><a href="{{ url_for('update',idp=current_user.username) }}">
                  <button class="btn btn-secondary m-8">edit profile</button></a></p>
                  <button class="btn btn-secondary m-1">Total Posts: {{ total }}</button>
              {% else %}
                <p>
                  <button class="btn btn-secondary m-8">Total Posts: {{ total }}</button>
                </p>
              {% endif %}
            </div>
          </div>
        </div>

      </div>

    <div class="row mt-8">
            <div class="col-lg-12 text-center">
              <h1>All Posts</h1></div>
              {% if posts|length < 1 %}
              <h2 class="text-center">Nothing Posted Yet</h2>
            
            {% else %}
            {% for post in posts %}
              <div class="col-lg-3 mt-3">
                <a href="{{ url_for('post', postid=post.post_id) }}">
                  <div class="card h-100 m-2 mb-3 mt-3" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); ">
                    <div class="card-body" style="position:relative;">
                      
                      <p class="card-title text-uppercase lead" style="overflow: hidden; position: relative; height: 30%;  max-height: 15ch;">
                        {{ post.post_title }}
                      </p>
                      <small class="card-subtitle mb-2 text-muted">by: {{ post.post_by }}</small>
                      <p class="card-subtitle mb-2 text-muted">on: {{ post.post_created | datetimeformat }}</p>
                      <p class="card-text" style="overflow: hidden;  max-height: 14ch;"> {{ post.post_body }} </p>
                    </div>
                  </div>
                </a>
              </div>
            {% endfor %}
        {% endif %}
    </div>
  </div>

{% endblock %}
