{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block header %}
<div class="inline-block">

<a href="{{ url_for('logout') }}">
  <button class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0">Logout
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
  </button>
</a>
</div>
{% endblock %}

{% block body %}
<p class="inline-flex items-center border-0 py-1 px-3 rounded text-2xl mt-4 md:mt-0" >
 {% if name == profile %}
 <h1> Welcome, {{ profile }}</h1>
 {% else %}
 <h1> This is {{ profile }}'s Profile and you are {{ name }} and you are {{ admin }}</h1>
 {% endif %}
</p>

<div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400">
  <img class="w-20 h-20 rounded-full " src="{{ image_file }}" alt="Areeb ur Rub">
</div>
{% endblock %}
