{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container mt-16 mb-24">
    <div class="row">
          {% if posts|length < 1 %}
            <h2>no related post found</h2>
            {% else %}
            {% for post in posts %}
            <div class="col-lg-3 mt-3">
                <a href="{{ url_for('post', postid=post.post_id) }}">
                    <div class="card h-100 m-2 mb-3 mt-3" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); ">
                    <div class="card-body" style="position:relative;">
                        
                        <p class="card-title text-uppercase lead" style="overflow: hidden; position: relative; height: 30%;  max-height: 15ch;">
                        {{ post.post_title }}
                        </p>
                        <small class="card-subtitle mb-2 text-muted">by: {{ post.post_by }}</small>
                        <p class="card-subtitle mb-2 text-muted">by: {{ post.post_created | datetimeformat }}</p>
                        <p class="card-text" style="overflow: hidden;  max-height: 14ch;"> {{ post.post_body }} </p>
                    </div>
                    </div>
                </a>
            </div>
            {% endfor %}
          {% endif %}
    </div>

    <div class="row" style="margin-top: 30px;">
        {% if users|length < 1 %}
          <h2>no user match</h2>
          {% else %}
          {% for user in users %}
          <div class="col-6">
            <a href="{{ url_for('dashboard',pro = user.username) }}">
                <div class="card h-100 m-2 w-100 mb-3 mt-3 text-center flex mx-auto" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);">
                    <div class="flex-initial w-full h-1/2" style="overflow: hidden;">
                    <img src="{{ user.profile_picture }}" alt="{{ user.username }}" class="w-full h-56 object-cover">
                    </div>
                    <div class="flex-initial">
                    <h1>{{ user.username }}</h1>
                    <p class="mx-1" >{{ user.about }}</p>
                    </div>
                </div>
            </a>
          </div>
          {% endfor %}
          {% endif %}
    </div>
</div>
{% endblock %}